body {
    font-size: 6em;
    text-align: center;
}

/*タイマー*/
.count {
    margin: none;
    font-weight: bold;
    color: #888;
}

/*タイピング部*/
.wrap {
    margin-top: 20px;
    padding: 80px 40px;
    background-color: #666;
    font-weight: bold;
    color: #fff;
}

.typed {
    color: lightgreen;
}

.mistyped {
    background-color: red;
}

/*文字数カウント*/
#typecount {
    margin: none;
    font-weight: bold;
    color: #888;
}